
	<ion-view class="confirm_order">	
		<div class="payage" id="payage" style="display: none;">
			<div class="pay_content">
				<ul class="lise">
					<li class="item">
						<i class="icon ion-ios-close-empty" ng-click="go_back()"></i>
						<h3>付款详情</h3>
					</li>
					<li class="item">
						<p>支付账号</p>
						<span>1009859865</span>
					</li>
					<li class="item">
						<p>支付方式</p>
						<i class="icon ion-ios-arrow-right"></i>
						<span>朋友代付</span>
					</li>
					<li class="item">
						<p>需付款</p>
						<span id="need_pay">¥998.00元</span>
					</li>
					<li class="item">
						<button type="button" ng-click="cf_pay()">确认支付</button>
					</li>
				</ul>
			</div>	
		</div>
		<div class="payfailure" id="payfailure" style="display: none;">
			<div class="pay_failure">
				<div class="top">
					<h3>对不起，订单失败</h3>
					<p>交易单号：1009859569</p>
					<p>点击查看“<b ng-click="order_detail()">订单详情</b>”</p>
				</div>	
				<form>
					<button type="button" ng-click="fai_back()" ui-sref="order">取消</button>
					<button type="button" ng-click="fai_back()" ui-sref="confirm_order">确定</button>
				</form>
			</div>	
		</div>
		<div class="paysuccess" id="paysuccess" style="display: none;">
			<div class="pay_success">
				<div class="top">
					<h3>恭喜您，支付成功</h3>
					<p>交易单号：1009859569</p>
					<p>点击查看“<b ng-click="order_detail()">订单详情</b>”</p>
				</div>	
				<form>
					<button type="button" ng-click="go_back()" ui-sref="order">返回</button>
					<button type="button" ng-click="go_more()" ui-sref="pro_list">继续购买</button>
				</form>
			</div>	
		</div>
		
		<ion-header-bar class="confirm_head">
			<i class="icon ion-chevron-left" ng-click="back()"></i>
			<div class="tit"><h3>确认订单</h3></div>
		</ion-header-bar>	
		<ion-content class="content">
			<div class="order_top">
				<div class="pic">
					<img src="img/confirm_order.png"/>
				</div>	
				<div class="right">
					<p>收货员：大勇哥<span>1009849865</span></p>
					<h4>收货地址：</h4>
					<p>湖南省长沙市芙蓉区张公岭杨家湾99号湖南省长沙市芙蓉区张公岭杨家湾99号</p>
					<p>(收货不便时，可选择免费代收服务)</p>
				</div>
			</div>	
			<div class="box"></div>
			<div class="logo">
				<img src="img/home_head_world.png"/>
			</div>	
			<div class="order_detail">
				<div class="left">
					<img src="img/confirm_or_pic.png" ui-sref="pro_details"/>
				</div>	
				<div class="right">
					<h3 ui-sref="pro_details">米乐 加厚面料 亚麻布艺抱枕欧式垫办公室抱枕靠垫靠枕</h3>
					<p><small>¥ </small><b>988</b><span>卖家促销</span></p>
					<p>价格<span>￥1099-2099</span><i>x1</i></p>
				</div>	
			</div>	
			<div class="option">
				<ul class="list information">
					<li class="item">
						<span>购买数量</span>
						<form>
							<button class="reduce" id="reduce" type="button"  ng-click="miuns()">-</button>
							<input class="text" id="input_val" type="text" value="1" />
							<button class="add" id="add" type="button"  ng-click="adds()">+</button>
						</form>
					</li>
					<li class="item">
						<span>配送方式</span>
						<div class="right">
							<p>
								<label>
									快递免邮
									<i class="icon ion-ios-arrow-right"></i>
								</label>
							</p>
						</div>
					</li>
					<li class="item">
						<span>运险费</span>
						<div class="right">
							<p>
								<label>
									卖家赠送
									<i class="icon ion-ios-arrow-right"></i>
								</label>
							</p>
						</div>
					</li>
					<li class="item">
						<label>
							<span>买家留言：</span>
							<input type="text" placeholder="选填 对本次交易的说明" />
						</label>
					</li>
					<li class="item">
						<p>共计<small id="number">1</small>件商品<span>小计：</span><i id="total">¥ 998.00</i></p>
					</li>
				</ul>
				<div class="boxtwo"></div>
				<ul class="lise payWay">
					<li class="item">
						<span>匿名购买</span>
						<form>
							<label>
								<input type="checkbox" class="radio">
								<span></span>
							</label>
						</form>
					</li>
					<li class="item">
						<span>朋友代付</span>
						<form>
							<label>
								<input type="checkbox" class="radio">
								<span></span>
							</label>
						</form>
					</li>
				</ul>
			</div>	
		</ion-content>	
		<ion-footer-bar>
			<div class="footer">
				<button ng-click="submit()">提交订单</button>
				<span>总计:&nbsp;<i id="all_total">¥&nbsp;998.00</i></span>
			</div>
		</ion-footer-bar>	
	</ion-view>	
