		<ion-view class="guide" ng-controller="gdController">
			<ion-slide-box on-slide-changed="slide($index)">
				<ion-slide>
					<img src="img/guide1.JPG" alt="" width="100%" height="100%"/>
				</ion-slide>
				<ion-slide>
					<img src="img/guide2.JPG" alt="" width="100%" height="100%"/>
				</ion-slide>
				<ion-slide>
					<img src="img/guide3.JPG" alt="" width="100%" height="100%"/>
				</ion-slide>
				<ion-slide>
					<a class="start"><img src="img/start.JPG" alt="" width="100%" height="100%"/></a>
					<div class="go_down" ui-sref="login">
						<a class="exper">立即体验</a>
					</div>
				</ion-slide>
			</ion-slide-box>
		</ion-view>
	
