
		<ion-view class="home">
			<ion-header-bar class="home_head">
				<div class="search" ui-sref="search" ng-click="inpu()">
					<img src="img/home_pic_search.png">
				</div>	
				<div class="logo">
					<img src="img/home_head_world.png" />       
				</div>	
				<div class="menu_bar">
					<img src="img/home_home.png" />
				</div>
			</ion-header-bar>	
			<ion-content class="content">
				<ion-slide-box class="banner" auto-play="true" does-continue="true">
					<ion-slide>
						<img src="img/banner1.JPG" width="100%"/>
					</ion-slide>
					<ion-slide>
						<img src="img/banner2.JPG" width="100%"/>
					</ion-slide>
					<ion-slide>
						<img src="img/banner3.JPG" width="100%"/>
					</ion-slide>
				</ion-slide-box>
				<div class="list">
					<ul>
						<li ng-repeat="item in Listarr">
							<img ng-src="{{item.imgsrc}}"/> 
							{{item.text}}
						</li>
					</ul>
				</div>
				<div class="down_time">
					<p>抢购<i>:</i><span id="house">00</span><i>:</i><span id="points">58</span><i>:</i><span id="seconds">12</span></p>
				</div>
				<ion-slide-box class="banner" auto-play="true" does-continue="true">
					<ion-slide class="pillow">
						<img src="img/home_ban2_01.jpg" width="100%" ui-sref="pro_details"/>
						<div class="discount">
							<img src="img/ban2_bg.png" width="70%"/>
							<span>5.5</span>
							<p>折</p>
						</div>
						<div class="data">
							<h3>蓝白舒适抱枕</h3>
							<span>￥99.00 <i>￥199.00</i></span>
							<p>仅28套</p>
							<form>
								<button type="button" ui-sref="confirm_order">去购买</button>
							</form>
						</div>
					</ion-slide>
					<ion-slide>
						<img src="img/home_beg.jpg" width="100%" ui-sref="pro_details"/>
					</ion-slide>
					<ion-slide>
						<img src="img/home_beg1.jpg" width="100%" ui-sref="pro_details"/>
					</ion-slide>
					<ion-slide>
						<img src="img/home_min.jpg" width="100%" ui-sref="pro_details"/>
					</ion-slide>
					<ion-slide>
						<img src="img/home_use.jpg" width="100%" ui-sref="pro_details"/>
					</ion-slide>
				</ion-slide-box>
				<div class="pic">
					<img src="img/home_ban2_up.png" width="100%" ui-sref="pro_details"/>
				</div>
				<div class="produce">
					<h3 ui-sref="pro_list">分类直达</h3>
					<i></i>
					<ul>
						<li ng-repeat="item in startarr"  ui-sref="pro_list">
							<img ng-src="{{item.img_src}}" alt="" />
							<div class="box"></div>
							<div class="detail">
								<h4>{{item.text_h4}}</h4>
								<p>{{item.text_p}}</p>
							</div>
						</li>
					</ul>
				</div>
				<ion-infinite-scroll ng-if="moveBool" spinner="ripple"  on-infinite="loadMove()" distance="0.1%">
			
				</ion-infinite-scroll>
			</ion-content>	
		<ion-footer-bar align-title="left" class="index_bottom home_">
			<div class="list card footer_bottom">
		        <div class="item tabs tabs-secondary tabs-icon-top fot_bom">
		            <a class="tab-item on" id="home" ui-sref="home">
		          	  	<img src="img/footer_012.png">
		           		<p>首页</p>
		          	</a>
		          	<a class="tab-item" id="pro_categories" ui-sref="pro_categories">
		            	<img src="img/footer_02.png">
		           	 	<p>分类</p>
		          	</a>
		          	<a class="tab-item" id="shop_car" ui-sref="shop_car">
		            	<img src="img/footer_03.png">
		            	<p>购物车</p>
		          	</a>
		          	<a class="tab-item" id="user" ui-sref="user">
		            	<img src="img/footer_04.png">
		            	<p>我的</p>
		          	</a>
		        </div>
	        </div>
		</ion-footer-bar>
	</ion-view>		
	
