
		<ion-view class="login">
			<ion-content>
				<i class="icon ion-chevron-left left" data-pack="default" ng-click="back()"></i>
				<div class="pic">
					<img src="img/login_pic01.png">
					<p>HOLA</p>
				</div>	
				<form class="messege" name="loginForm" novalidate ng-submit="submitForm(loginForm,loginForm.$valid)">
					<label class="item item-input">
						<img src="img/login_menber.png" class="member">
						<input type="number" name="account" placeholder="请输入手机号" class="number account" ng-model="account" required ng-pattern="/^1[34578]\d{9}$/"/>
					</label>
					<label class="item item-input">
						<img src="img/register_ma.png" class="password">
						<input type="password" placeholder="请输入密码" name="pwd" class="pass" required ng-minlength="6" ng-model="pwd"/>
					</label>
					<p class="alerts" style="visibility: hidden;">请输入正确的手机号</p>
					<button type="submit">手机号快捷登录</button>
					<div class="order">
						<a href="#">忘记密码？</a>
						<a ui-sref="register">立即注册</a>
					</div>
				</form>
				<div class="other_way" ui-sref="home">
					<label>
						<span>用账号或第三方登录</span>
						<img src="img/login_go.png" />
					</label>
				</div>	
			</ion-content>	
		</ion-view>
	
