
	<ion-view class="orderpage">	
		<ion-header-bar class="confirm_head">
			<i class="icon ion-chevron-left" ng-click="back()"></i>
			<div class="tit"><h3>我的订单</h3></div>
		</ion-header-bar>	
		<div class="orders">
			<ion-tabs class="tabs-top order_top">
				<ion-tab title="全部">
					<ion-view>
						<ion-content class="content">
							<div class="order_all" id="order_list">
								<ul>
									<li ng-repeat="mes in Allarr" class="order_list">
										<h1>
											<span>{{mes.h1_span1}}</span>
											<span>{{mes.h1_span2}}</span>
										</h1>
										<div class="order_detail">
											<div class="left" ui-sref="pro_details">
												<img ng-src="{{mes.imgsrc}}"/>
											</div>	
											<div class="right">
												<h3 ui-sref="pro_details">{{mes.right_h3}}</h3>
												<p><small>{{mes.p1_small}}</small><b>{{mes.p1_b}}</b><span>{{mes.p1_span}}</span></p>
												<p>{{mes.right_p2}}<span>{{mes.right_p2_span}}</span><i>{{mes.right_p2_i}}</i></p>
											</div>	
										</div>	
										<div class="total">
											<p>{{mes.total_p}}<span>{{mes.total_p_span}}</span><b>{{mes.total_b}}</b><small>{{mes.total_small}}</small></p>
										</div>
										<div class="timeway">
											<span>{{mes.timeway_span}}</span>
											<form>
												<button type="button" class="pay" ui-sref="confirm_order">{{mes.timeway_bt1}}</button>
												<button type="button" class="cancel" id="cancel" ng-click="cod($index)">{{mes.timeway_bt2}}</button>
											</form>
										</div>	
									</li>
								</ul>
							</div>	
						</ion-content>	
					</ion-view>	
				</ion-tab>	
				<ion-tab title="代收货">
					<ion-view>
						<ion-content class="content">
							<div class="order_all">
								<ul>
									<li>
										<h1>
											<span>订单号：1009456789</span>
											<span>待付款</span>
										</h1>
										<div class="order_detail">
											<div class="left">
												<img src="img/confirm_or_pic.png"/>
											</div>	
											<div class="right">
												<h3>米乐 加厚面料 亚麻布艺抱枕欧式垫办公室抱枕靠垫靠枕</h3>
												<p><small>¥ </small><b>998-1998</b><span>卖家促销</span></p>
												<p>价格<span>￥1099-2099</span><i>x1</i></p>
											</div>	
										</div>	
										<div class="total">
											<p>共1件商品<span>合计：</span><b>¥998.00</b><small>（含运费：￥00.00）</small></p>
										</div>
										<div class="timeway">
											<span>下单时间：2016-12-21</span>
											<form>
												<button type="button" class="pay">付款</button>
												<button type="button" class="cancel">取消订单</button>
											</form>
										</div>	
									</li>
								</ul>
							</div>	
						</ion-content>	
					</ion-view>	
				</ion-tab>	
				<ion-tab title="待付款">
					<ion-view>
						<ion-content class="content">
							<div class="order_all">
								<ul>
									<li>
										<h1>
											<span>订单号：1009456789</span>
										</h1>
										<div class="order_detail">
											<div class="left">
												<img src="img/confirm_or_pic.png"/>
											</div>	
											<div class="right">
												<h3>米乐 加厚面料 亚麻布艺抱枕欧式垫办公室抱枕靠垫靠枕</h3>
												<p><small>¥ </small><b>998-1998</b><span>卖家促销</span></p>
												<p>价格<span>￥1099-2099</span><i>x1</i></p>
											</div>	
										</div>	
										<div class="total">
											<p>共1件商品<span>合计：</span><b>¥998.00</b><small>（含运费：￥00.00）</small></p>
										</div>
										<div class="timeway">
											<span>下单时间：2016-12-21</span>
											<form>
												<button type="button" class="pay">付款</button>
												<button type="button" class="cancel">取消订单</button>
											</form>
										</div>	
									</li>
								</ul>
							</div>	
						</ion-content>	
					</ion-view>	
				</ion-tab>	
				<ion-tab title="待收货">
					<ion-view>
						<ion-content class="content">
							<div class="order_all">
								<ul>
									<li>
										<h1>
											<span>订单号：1009456789</span>
											<span>待付款</span>
										</h1>
										<div class="order_detail">
											<div class="left">
												<img src="img/confirm_or_pic.png"/>
											</div>	
											<div class="right">
												<h3>米乐 加厚面料 亚麻布艺抱枕欧式垫办公室抱枕靠垫靠枕</h3>
												<p><small>¥ </small><b>998-1998</b><span>卖家促销</span></p>
											</div>	
										</div>	
										<div class="total">
											<p>共1件商品<span>合计：</span><b>¥998.00</b><small>（含运费：￥00.00）</small></p>
										</div>
										<div class="timeway">
											<span>下单时间：2016-12-21</span>
											<form>
												<button type="button" class="pay">付款</button>
												<button type="button" class="cancel">取消订单</button>
											</form>
										</div>	
									</li>
								</ul>
							</div>	
						</ion-content>	
					</ion-view>	
				</ion-tab>	
			</ion-tabs>	
		</div>	
	</ion-view>	
	