
	<ion-view class="pro_list">	
		<ion-header-bar class="header">
			<i class="icon ion-chevron-left left" data-pack="default" ng-click="back()"></i>
			<form class="search">
				<label class="item item-input" ui-sref="search" ng-click="inpu()">
					<i class="icon ion-ios-search-strong"></i>
					<input type="text" placeholder="抱枕" />
				</label>
			</form>
		</ion-header-bar>	
		<ion-content>
			<div class="list_top">
				<ul>
					<li ng-click="proAll(0)" class="on">
						综合
					</li>
					<li ng-click="proAll(1)">
						销量
						<i class="ion-android-arrow-dropup"></i>
						<i class="ion-android-arrow-dropdown"></i>
					</li>
					<li ng-click="proAll(2)">
						价格
						<i class="ion-android-arrow-dropup"></i>
						<i class="ion-android-arrow-dropdown"></i>
					</li>
					<li ng-click="proAll(3)">
						筛选
					</li>
				</ul>
			</div>
			<div class="list_content">
				<div class="composite">
					<div class="list_kind">
						<ul>
							<li>家居百科</li>
							<li>买三免一</li>
							<li>0元强新</li>
							<li>家庭必备</li>
						</ul>
					</div>	
					<ul class="list_order">
						<li ng-repeat="item in obj.pro_shop | orderBy:order">
							<img ng-src="{{item.img}}" class="produce" ui-sref="pro_details"/>
							<h3 ui-sref="pro_details">{{item.title}}</h3>
							<i>¥ </i>
							<span>{{item.price}}</span>
							<img ng-src="{{item.img_car}}" class="car" ng-click="addshopcar()"/>
						</li>
					</ul>
				</div>	
			</div>
			
			<ion-infinite-scroll  ng-if="more" spinner="android" on-infinite="loadMore()" distance="0%">
						
			</ion-infinite-scroll>
		</ion-content>
	</ion-view>	
	
