	<ion-view class="pro_page">	
		<ion-header-bar>
			<div class="pro_header">
				<i class="icon ion-chevron-left turn_up" ng-click="back()"></i>
				<i class="icon ion-more message" style="float: right;"></i>
				<img src="img/pro_details_car.png" ui-sref="shop_car">
			</div>
		</ion-header-bar>
		<div class="pro_details">
			<ion-tabs class="tabs-top">
				<ion-tab title="商品">
					<ion-view>
						<ion-content class="content">
							<ion-slide-box class="banner" auto-play="true" does-continue="true">
								<ion-slide  class="img_slide">
									<img src="img/pro_detail_lb1.png" width="100%"/>
								</ion-slide>
								<ion-slide>
									<img src="img/pro_details_lb2.png" width="100%"/>
								</ion-slide>
								<ion-slide>
									<img src="img/pro_details_lb3.png" width="100%"/>
								</ion-slide>
								<ion-slide>
									<img src="img/pro_details_lb4.png" width="100%"/>
								</ion-slide>
								<ion-slide>
									<img src="img/pro_details_lb5.png" width="100%"/>
								</ion-slide>
								<ion-slide>
									<img src="img/pro_details_lb6.png" width="100%"/>
								</ion-slide>
							</ion-slide-box>	
							<div class="pro_massege">
								<div class="left">
									<h3>米乐 加厚面料 亚麻布艺抱枕欧式沙发床头靠垫办公室抱枕靠垫靠枕</h3>
									<i>¥</i><b>998</b><small>卖家促销</small>
									<p>价格：<span>1099-2099</span></p>
								</div>
								<div class="right">
									<img src="img/pro_details_share.png">
									<p>分享</p>
								</div>	
								<div class="up">
									<ul>
										<li>包邮</li>
										<li>月销998</li>
										<li>湖南长沙</li>
									</ul>
								</div>	
							</div>	
						</ion-content>	
					</ion-view>	
				</ion-tab>	
				<ion-tab title="详情">
					<ion-view>
						<ion-content class="content">
							<div class="pro_massege">
								<div class="left">
									<h3>米乐 加厚面料 亚麻布艺抱枕欧式沙发床头靠垫办公室抱枕靠垫靠枕</h3>
									<i>¥</i><b>998-1998</b><small>卖家促销</small>
									<p>价格：<span>1099-2099</span></p>
								</div>
								<div class="right">
									<img src="img/pro_details_share.png">
									<p>分享</p>
								</div>	
								<div class="up">
									<ul>
										<li>包邮</li>
										<li>月销998</li>
										<li>湖南长沙</li>
									</ul>
								</div>	
							</div>	
						</ion-content>	
					</ion-view>	
				</ion-tab>	
				<ion-tab title="评价">
					<ion-view>
						<ion-content class="content">
							<div class="pro_massege">
								<div class="left">
									<h3>米乐 加厚面料 亚麻布艺抱枕欧式沙发床头靠垫办公室抱枕靠垫靠枕</h3>
									<i>¥</i><b>998-1998</b><small>卖家促销</small>
									<p>价格：<span>1099-2099</span></p>
								</div>
								
								<div class="up">
									<ul>
										<li>包邮</li>
										<li>月销998</li>
										<li>湖南长沙</li>
									</ul>
								</div>	
							</div>	
						</ion-content>	
					</ion-view>	
				</ion-tab>	
			</ion-tabs>	
		</div>	
		<ion-footer-bar class="pro_footer">
			<ul>
				<li>
					<img src="img/pro_service_icon.png">
		           	<p>客服</p>
				</li>
				<li>
					<img src="img/pro_shop_icon.png" />
		           	<p>店铺</p>
				</li>
				<li>
					<img src="img/pro_collect_icon.png" />
		            <p>收藏</p>
				</li>
				<li ng-click="addshopcar()">加入购物车</li>
				<li ui-sref="confirm_order">立即购买</li>
			</ul>
		</ion-footer-bar>
	</ion-view>	
	