
		<ion-view class="pro_categories">
			<ion-header-bar class="header">
				<i class="icon ion-chevron-left left" data-pack="default" ng-click="back()"></i>
				<form class="search">
					<label class="item item-input" ui-sref="search" ng-click="inpu()">
						<i class="icon ion-ios-search-strong"></i>
						<input type="text" placeholder="抱枕"/>
					</label>
				</form>
			</ion-header-bar>	
			<ion-content>
				<div class="cate_content">
					<ul>
						<li class="on" id="kind" ng-click="click1()">品类</li>
						<li id="brand" ng-click="click2()">品牌</li>
					</ul>
				</div>	
				<div class="cate_list" style="display: block;" id="cate_list">
					<div class="pic_top">
						<img src="img/cate_pic01.png">
						<div class="pic_tg">
							<div class="pic_content">
								<h3>舒适家居抱枕</h3>
								<p>bolster</p>
								<span ui-sref="pro_list">查看全部 ></span>
							</div>	
						</div>	
					</div>
					<div class="list_li">
						<ul>
							<li ng-repeat="con in olarr" ui-sref="pro_details">
								<img ng-src="{{con.imgsrc}}">
								<h4>{{con.text_h4}}</h4>
							</li>
						</ul>
					</div>	
					<div class="pic_up" ui-sref="pro_details">
						<img src="img/cate_pic02.png">
						<div class="box"></div>
					</div>	
				</div>	
				<div class="brand" style="display: none;" id="brand_content">
					<p>品牌类型内容</p>
				</div>	
			</ion-content>
		<ion-footer-bar align-title="left" class="index_bottom home_">
			<div class="list card footer_bottom">
		        <div class="item tabs tabs-secondary tabs-icon-top fot_bom">
		            <a class="tab-item" id="home" ui-sref="home">
		          	  	<img src="img/fonter_01.png">
		           		<p>首页</p>
		          	</a>
		          	<a class="tab-item on" id="pro_categories" ui-sref="pro_categories">
		            	<img src="img/footer_022.png">
		           	 	<p>分类</p>
		          	</a>
		          	<a class="tab-item" id="shop_car" ui-sref="shop_car">
		            	<img src="img/footer_03.png">
		            	<p>购物车</p>
		          	</a>
		          	<a class="tab-item" id="user" ui-sref="user">
		            	<img src="img/footer_04.png">
		            	<p>我的</p>
		          	</a>
		        </div>
	        </div>
		</ion-footer-bar>
	</ion-view>	
	
