
		<ion-view class="register">
			<ion-content>
				<i class="icon ion-chevron-left left" data-pack="default" ng-click="back()"></i>
				<div class="pic">
					<img src="img/login_pic01.png">
					<p>HOLA</p>
				</div>	
				<form class="messege" name="registerForm" novalidate ng-submit="submitForm(registerForm,registerForm.$valid)" ng-model="registerForm">
					<label class="item item-input">
						<img src="img/login_menber.png" class="member">
						<input type="number" placeholder="请输入手机号" class="number" name="phonenumber" required ng-pattern="/^1[34578]\d{9}$/" ng-model="account" ng-blur="phblur()"/>
					</label>
					<label class="item item-input">
						<img src="img/register_ma.png" class="password">
						<input type="password" placeholder="请输入密码" name="pwd" class="pass" required ng-minlength="6" ng-model="pwd" ng-blur="pwblur()"/>
					</label>
					<label class="item item-input">
						<img src="img/login_phone.png" class="phone">
						<input type="text" placeholder="请输入验证码" class="code" name="captcha" required ng-model="captcha" ng-blur="codeblur()"/>
						<span ng-click="codeEvent()">{{codeText}}</span>
					</label>
					<p class="alerts" style="visibility: hidden;">请输入数值</p>
					<button type="submit">立即注册</button>
					<div class="order">
						<a href="#">手机快捷登陆（遵守第三方服务协议）</a>
					</div>
				</form>
				<div class="other_way">
					<label>
						<span>用账号或第三方登录</span>
						<img src="img/login_go.png" />
					</label>
				</div>	
			</ion-content>	
		</ion-view>
	
