
		<ion-view class="searchpage">
			<ion-header-bar class="header">
				<i class="icon ion-chevron-left left" data-pack="default" ng-click="back()"></i>
				<form class="search">
					<label class="item item-input">
						<i class="icon ion-ios-search-strong"></i>
						<input type="text" id="text" autofocus="autofocus" placeholder="抱枕"/>
					</label>
				</form>
			</ion-header-bar>	
			<ion-content class="content">
				<div class="con_center">
					<h3>热门搜索</h3>
					<ul>
						<li ng-repeat="item in search_list">{{item.text}}</li>
					</ul>
				</div>
			</ion-content>	
		</ion-view>	
	