
	<ion-view class="shop_car">	
		<ion-header-bar class="car_head">
			<i class="icon ion-chevron-left" ng-click="back()"></i>
			<div class="tit">
				<h3>购物车<span>编辑</span></h3>
			</div>
		</ion-header-bar>	
			<ion-content class="car_content">
				<div class="car_top">
					<img src="img/home_head_world.png"/>
				</div>
				<div class="car_list">
					<ul class="list">
						<li class="item" ng-repeat="item in Myprolist">
							<div class="list_left">
								<form>
									<label>
										<input type="checkbox" ng-model="item.checked" ng-click="check(item.checked,$index)" class="checkAll">
										<span></span>
									</label>
								</form>
								<div class="pro_pic">
									<img ng-src="{{item.img}}" ui-sref="pro_details">
								</div>	
							</div>
							<div class="list_right">
								<h3 ui-sref="pro_details">{{item.title}}</h3>
								<div class="right_up">
									<span>{{item.price | currency:"￥"}}</span>
									<form>
										<button class="reduce" type="button"  ng-click="miuns($index)">-</button>
										<input type="text" value="{{item.num}}" ng-blur="blurText($index)" />
										<button class="add" type="button" ng-click="add($index,$event)">+</button>
									</form>
									<img class="del" src="img/shop_car_del.png" class="del" ng-click="del($index)"/>
								</div>
							</div>	
						</li>
					
					</ul>
				</div>
				<div class="car_love">
					<h3>您可能感兴趣的商品</h3>
					<i></i>
					<div class="love_list">
						<ul>
							<li ui-sref="pro_details" ng-repeat="shop in shoplist"><img ng-src="{{shop.imgsrc}}"></li>
						</ul>
					</div>	
				</div>	
			</ion-content>
		<ion-footer-bar align-title="left" class="index_bottom home_">
			<div class="go_bay">
				<ul>
					<li>
						<form class="chk">
							<label>
								<input type="checkbox" ng-model="checkAll" ng-click="checkedAll(checkAll)" name="items"/>
								<span></span>
								全选
							</label>
						</form>
					</li>
					<li>总计：<span>{{initVal.total | currency:"￥" }}</span></li>
					<li>包邮</li>
					<li>
						<form>
							<button type="button" ng-click="goCom()">去结算<i>({{num}})</i></button>
						</form>
					</li>
				</ul>
			</div>	
			<div class="list card footer_bottom">
		        <div class="item tabs tabs-secondary tabs-icon-top fot_bom">
		            <a class="tab-item" id="home" ui-sref="home">
		          	  	<img src="img/fonter_01.png">
		           		<p>首页</p>
		          	</a>
		          	<a class="tab-item" id="pro_categories" ui-sref="pro_categories">
		            	<img src="img/footer_02.png">
		           	 	<p>分类</p>
		          	</a>
		          	<a class="tab-item on" id="shop_car" ui-sref="shop_car">
		            	<img src="img/fonter_032.png">
		            	<p>购物车</p>
		          	</a>
		          	<a class="tab-item" id="user" ui-sref="user">
		            	<img src="img/footer_04.png">
		            	<p>我的</p>
		          	</a>
		        </div>
	        </div>
		</ion-footer-bar>
	</ion-view>	
	
