
		<ion-view class="user">
			<ion-content>
				<div class="top_pic">
					<img src="img/user_bg.png">
					<img src="img/user_icon.png">
				</div>	
				<div class="user_message">
					<ul class="list">
						<li class="item">
							<img src="img/user_pic1.png" />
							<span>我的主页</span>
							<i class="icon ion-ios-arrow-right"></i>
						</li>
						<li class="item">
							<img src="img/user_pic2.png" />
							<span>消息</span>
							<i class="icon ion-ios-arrow-right"></i>
						</li>
						<li class="item" ui-sref="order">
							<img src="img/user_pic3.png" />
							<span>我的订单</span>
							<i class="icon ion-ios-arrow-right"></i>
						</li>
						<li class="item">
							<img src="img/user_pic4.png" />
							<span>我收藏的商品</span>
							<i class="icon ion-ios-arrow-right"></i>
						</li>
						<li class="item">
							<img src="img/user_pic5.png" />
							<span>收货地址</span>
							<i class="icon ion-ios-arrow-right"></i>
						</li>
						<li class="item">
							<img src="img/user_pic6.png" />
							<span>修改资料</span>
							<i class="icon ion-ios-arrow-right"></i>
						</li>
						<li class="item">
							<img src="img/user_pic7.png" />
							<span>客服中心</span>
							<i class="icon ion-ios-arrow-right"></i>
						</li>
					</ul>
				</div>
			</ion-content>
		<ion-footer-bar align-title="left" class="index_bottom home_">
			<div class="list card footer_bottom">
		        <div class="item tabs tabs-secondary tabs-icon-top fot_bom">
		             <a class="tab-item" id="home" ui-sref="home">
		          	  	<img src="img/fonter_01.png">
		           		<p>首页</p>
		          	</a>
		          	<a class="tab-item" id="pro_categories" ui-sref="pro_categories">
		            	<img src="img/footer_02.png">
		           	 	<p>分类</p>
		          	</a>
		          	<a class="tab-item" id="shop_car" ui-sref="shop_car">
		            	<img src="img/footer_03.png">
		            	<p>购物车</p>
		          	</a>
		          	<a class="tab-item on" id="user" ui-sref="user">
		            	<img src="img/fonter_042.png">
		            	<p>我的</p>
		          	</a>
		        </div>
	        </div>
		</ion-footer-bar>
	</ion-view>	
	
