/*******************公共样式***************************/
*{padding: 0;margin: 0;font-family: "宋体";}
p{padding: 0;margin: 0;}
input,button,textarea{outline: none;padding: 0.1rem 0.04rem;}
li{list-style: none;}
a:link,a{text-decoration: none;}
h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}

/****************头部***********************/
.home .has-header{top: 0.88rem;}/*body离顶部的距离*/

.pro_categories .bar-header{border-bottom: none;}/*头部的高度*/
.pro_categories .header{width: 100%;}
.pro_categories .has-header{top: 0.88rem;}

/*****************尾部*************************/
.confirm_order .bar{height:0.88rem;padding: 0;border-top: 1px solid #999;}/*尾部内容高度*/
.confirm_order .has-footer{bottom: 0.88rem;}/*body离底部的距离*/
.home .has-footer{bottom: 0.88rem;}
/********************可能相同的代码*************************/

/*引导页*/
.guide .ion-record{width: 0.31rem;height: 0.10rem;}
.guide .slider-pager{bottom: 60px;}
.guide .slider-pager .slider-pager-page{opacity: 1;margin: 0 0.15rem;}
.guide .slider-pager .slider-pager-page:last-child{display: none;}
.guide .slider-pager .slider-pager-page.active .icon.ion-record:before{content: "";opacity: 1; background: #2d3448;width: 0.30rem;height: 0.10rem;}
.guide .slider-pager .slider-pager-page .icon.ion-record:before{content: "";opacity: 1;background: #504e56;width: 0.30rem;height: 0.10rem;}

/*开始页 home*/
.home .ion-record{width: 0.21rem;height: 0.07rem;}
.home .slider-pager{bottom: 0.80rem;height: 0;}
.home .slider-pager .slider-pager-page{opacity: 1;width: 18px;height: 0;}/*调整图标之间的宽度*/
.home .slider-pager .slider-pager-page.active .icon.ion-record:before{content: "";opacity: 1; background: #fa565a;width: 0.21rem;height: 0.07rem;}
.home .slider-pager .slider-pager-page .icon.ion-record:before{content: "";opacity: 1;background: #fff;width: 0.21rem;height: 0.07rem;}
.home .list{width: 100%;margin-top: 0.18rem;clear: both;overflow: hidden;}
/*确认订单*/
.confirm_order .overflow-scroll{margin-top: 0px;}
.confirm_order .scroll{margin-top: 0px;}
.confirm_order .has-header{top: 0.88rem;}
.confirm_order .option{width: 100%;}
.confirm_order .list{margin-bottom: 0;}
.confirm_order .footer{width: 100%;}
.confirm_order .footer span{font-size: 0.30rem;color: #666666;float: right;margin-top: 0.30rem;margin-right: 0.30rem;}
.confirm_order .footer span i{color: #fe585c;}
.confirm_order .footer button{font-size: 0.30rem;color: #fff;float: right;border: none;background: #fe585c;height: 0.88rem;width: 30%;}

/*登录*/
.login .overflow-scroll{margin-top: 0px;}
.login .scroll{margin-top: 0px;}
.login .item{background: transparent;margin-bottom: 4px;border-bottom: 1px solid #fff;border-top: none;
      padding-bottom: 0.25rem; border-left: none;border-right:none;margin-top: 0.15rem;}
      
/*订单*/
.orderpage .has-header{top: 0.88rem;}/****头部距离顶部的高度*****/
.orderpage .tabs-top>.tabs{top: 0.88rem;background-position:inherit;border: none;}/*选项卡头部离body顶部的高度*/
.orderpage .tab-item span{color: #666666;font-size: 0.32rem;}
.orderpage .tab-item-active span{color: #FA565A;border-bottom: 2px solid #FA565A;padding-bottom: 8px;} /*调整当前状态下划线的宽度，由span控制*/
.orderpage .tabs-top.tabs-striped .tab-item.tab-item-active{border-color: #FA565A;}
.orderpage .tabs-striped .tabs{border-color: #f2f2f2;}
.orderpage .tabs{height: 43px; line-height: 43px;background: #FFFFFF;}/*选项卡内容的高度*/

/*品类pro_categories*/

.pro_categories .brand{width: 94%;margin: 0 auto;clear: both;overflow: hidden;}
.pro_categories .brand p{font-size: 0.30rem;color: #666666;padding-top: 20px;}
.pro_categories .header .left{font-size: 0.30rem;margin-left: 0.28rem;margin-top: 0.25rem;color: #666666;}
.pro_categories .header .search{width: 85%;}
.pro_categories .header .search i{font-size: 0.26rem;margin-left: 0.28rem;color: #b0a2a2;}
.pro_categories .header .search .item{padding: 0.04rem 0;margin: 0.14rem 0 0 0.36rem;background: #f2f2f2;border: none;border-radius: 8px;}
.pro_categories .header .search .item input{margin-left: 0.12rem;padding: 0;font-size: 0.24rem;}
.pro_categories input[type=text]{height: 0.52rem;}/*设置输入框的内容高度*/

/*产品详情*/
.pro_page .overflow-scroll{margin-top: 0px;}
.pro_page .scroll{margin-top: 0px;}
.pro_page .pane{top: 0.88rem;}/*body内容排版高度*/
.pro_page .has-footer{bottom: 0.88rem;}
.pro_page .tabs-top>.tabs{top: 0px;}
.pro_page .has-tabs-top{top: 0px;}/*头部内容距离顶部的高度*/
.pro_page .tab-nav.tabs{width: 45%;top: 0px;float: left;margin-left: 26%;z-index: 11;background: transparent;height: 0.88rem;}/*选项卡头部离body顶部的高度*/
.pro_page .tabs-striped .tabs{border: none;}
.pro_page a span{font-size: 0.30rem;color: #999999;}
.pro_page a.tab-item-active span{color: #DD2727;}
.pro_page .tabs-top.tabs-striped .tab-item.tab-item-active{border-color: #FA565A;}
.pro_page .tab-item-active span{color: #FA565A;border-bottom: 2px solid #FA565A;padding-bottom: 8px;} /*调整当前状态下划线的宽度，由span控制*/
.pro_page .slider-pager{bottom: 0.85rem;height: 0px;}/*调整图标与底部的距离*/
.pro_page .slider-pager .slider-pager-page{width: 0.32rem;height: 0px;}/*调整图标之间的宽度*/
.pro_page .slider-pager span i:before{font-size: 0.30rem;}/*跳整图标的大小*/

/*产品列表*/
.pro_list .bar-header{border-bottom: none;}
.pro_list .bar{background-image: none;}
.pro_list .has-header{top: 0.88rem;}
.pro_list .header{width: 100%;background: #FDFBFB;}
.pro_list .header .left{font-size: 0.40rem;margin-left: 0.28rem;margin-top: 0.25rem;color: #666666;}
.pro_list .header .search{width: 85%;}
.pro_list .header .search i{font-size: 0.35rem;margin-left: 0.28rem;color: #b0a2a2;}
.pro_list .header .search .item{padding: 0.04rem 0;margin: 0.14rem 0 0 0.36rem;background: #f2f2f2;border: none;border-radius: 8px;}
.pro_list .header .search .item input{margin-left: 0.12rem;padding: 0;font-size: 0.24rem;}
.pro_list input[type=text]{height: 0.52rem;}/*设置输入框的内容高度*/
/*注册*/
.register .overflow-scroll{margin-top: 0px;}
.register .scroll{margin-top: 0px;}
.register .messege{width: 80%;margin: 0 auto;margin-top: 2.40rem;position: relative;}
.register .item{background: transparent;margin-bottom: 4px;border-bottom: 1px solid #fff;border-top: none;
      padding-bottom: 0.25rem; border-left: none;border-right:none;margin-top: 0.15rem;}

/*搜索页*/
.searchpage .bar-header{border-bottom: none;}
.searchpage .bar{background-image: none;}
.searchpage .has-header{top: 0.88rem;}
.searchpage .header{width: 100%;}
.searchpage .header .left{font-size: 0.40rem;margin-left: 0.28rem;margin-top: 0.25rem;color: #666666;}
.searchpage .header .search{width: 85%;}
.searchpage .header .search i{font-size: 0.35rem;margin-left: 0.28rem;color: #b0a2a2;}
.searchpage .header .search .item{padding: 0.04rem 0;margin: 0.14rem 0 0 0.36rem;padding: 0.06rem 0; background: #f2f2f2;border: none;border-radius: 8px;}
.searchpage .header .search .item input{margin-left: 0.12rem;padding: 0;font-size: 0.24rem;color: #666666;}
.searchpage input[type=text]{height: 0.52rem;}/*设置输入框的内容高度*/

/*购物车*/
.shop_car .has-footer{bottom: 1.80rem;}/*设置content内容与底部的距离*/
.shop_car .item{border: none;}/*设置列表的边框*/
.shop_car .item h3{white-space: normal;}/*设置item中文字超出省略的形式*/
.shop_car .has-header{top: 0.88rem;}/****头部距离顶部的高度*****/
/*个人中心*/


/********************guide**********************/

.guide .start{position: relative;}
.guide .go_down{position: absolute;bottom: 80px;padding: 0.10rem 0 0.25rem; text-align: center;left: 30%;width: 40%;border: 1px solid #e14e51;border-radius: 8px;}
a.exper{font-size: 0.40rem;font-family: "宋体";color: #e14e51;}

/******************home*****************************/

.home .home_head{background: #fefcfc;height: 0.88rem;width: 100%;}
.home .home_head .search{margin: 0.12rem 0 0 0.30rem;float: left;display: inline;}
.home .home_head .search img{width: 78%;}
.home .home_head .logo{display: inline; margin: 0.12rem auto;text-align: center;}
.home .home_head .logo img{width: 78%;}
.home .home_head .menu_bar{display: inline;float: right;margin-top: 0.12rem;margin-right: 0.20rem;}
.home .home_head .menu_bar img{width: 68%;}

.home .list li{text-align: center; width: 12%; float: left;font-size: 0.24rem;font-family: "宋体";color: #333333; margin-left: 0.88rem;}
.home .list li:nth-child(1){margin-left: 0.62rem;}
.home .list li img{width: 90%;}

.home .down_time{width: 100%;margin-top: 0.28rem;background: #f9faf9;padding-top: 0.20rem;padding-bottom: 0.20rem;}
.home .down_time p{ font-size: 0.26rem;font-family: "宋体";color: #333333;margin-left: 0.30rem;}
.home .down_time p i{color: #fa565a;margin: 0 0.04rem;}
.home .down_time p span{font-size: 0.26rem;font-family: "宋体";color: #fa565a;padding: 2px 4px;border: 1px solid #999999;}

.home .pillow{position: relative;}
.home .pillow .discount{position: absolute;text-align: center; top: 0.24rem;right: 1.13rem;width: 1.4rem;}
.home .pillow .discount span{display: block;margin-top: -1.3rem; font-size: 0.42rem;letter-spacing: -4px; font-family: "宋体";color: #fff;}
.home .pillow .discount p{font-size: 0.42rem;font-family: "宋体";color: #fff;margin-top: 0.24rem;}

.home .pillow .data{position: absolute;bottom: 0.62rem;left: 0.68rem;}
.home .pillow .data h3{margin-bottom: 0; font-size: 0.32rem;font-family: "宋体";color: #666;}
.home .pillow .data span{font-size: 0.42rem;font-family: "宋体";color: #FA565A;}
.home .pillow .data span i{text-decoration: line-through; font-size: 0.27rem;font-family: "宋体";color: #999;text-line-through: initial;}
.home .pillow .data p{text-align: center; font-size: 0.28rem;font-family: "宋体";color: #FA565A;border: 1px solid #FA565A;padding: 0.04rem;width: 42%;margin-top: 0.10rem;}
.home .pillow .data button{width: 90%;font-size: 0.32rem;font-family: "宋体";color: #fff;text-align: center;border: none;background: #fa565a;}
.home .pic{width: 100%;margin-top: 0.20rem;}

.home .produce{width: 94%;margin-top:-18px;text-align: center;margin: 0 auto;} 
.home .produce h3{background: #fff;z-index: 2;margin-bottom: 0.16rem;padding: 0 0.10rem; display: inline-block; font-size: 0.26rem;color: #333;font-weight: bold;}
.home .produce i{display: block;margin-top: -0.30rem; background: #999;height: 1px;}
.home .produce ul{margin-left: -3%;overflow: hidden;}
.home .produce li{position: relative; float: left;margin-top: 0.28rem;width: 47%;margin-left: 3%;}
.home .produce li .box{position:absolute;top:0;bottom:0;left:0;right:0;background:#000;opacity:0.3;}
.home .produce li img{width: 100%;}
.home .produce li .detail{position: absolute;bottom: 0; left: 0.40rem;width: 80%;}
.home .produce li .detail h4{font-size: 0.24rem;font-family: "宋体";color: #fff;margin: 0.15rem 0;}
.home .produce li .detail p{font-size: 0.24rem;font-family: "宋体";color: #fff;border-top: 1px solid #fff;padding-top: 0.10rem;width: 90%;margin-left: 5%;margin-bottom: 0.15rem;}
.home .produce li.like_li{color: #fff;text-align: center;background: #ff8989;width: 100%;font-size: 0.22rem;}
.home .produce li:nth-child(1) .detail{background: rgba(77,159,194,0.8);}
.home .produce li:nth-child(2) .detail{background: rgba(219,142,52,0.8);}
.home .produce li:nth-child(3) .detail{background: rgba(228,94,94,0.8);}
.home .produce li:nth-child(4) .detail{background: rgba(85,188,99,0.8);}
.home .produce li:nth-child(5) .detail{background: rgba(77,159,194,0.8);}
.home .produce li:nth-child(6) .detail{background: rgba(219,142,52,0.8);}
.home .produce li:nth-child(7) .detail{background: rgba(228,94,94,0.8);}
.home .produce li:nth-child(8) .detail{background: rgba(85,188,99,0.8);}
.home .produce li:nth-child(9) .detail{background: rgba(77,159,194,0.8);}
.home .produce li:nth-child(10) .detail{background: rgba(219,142,52,0.8);}
.home .produce li:nth-child(11) .detail{background: rgba(228,94,94,0.8);}
.home .produce li:nth-child(12) .detail{background: rgba(85,188,99,0.8);}

/****************confirm_order**************************/

.confirm_order .payage{position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 66; background: rgba(128,128,128,0.4);}
.confirm_order .pay_content{position: absolute;left: 0;bottom: 0; right: 0; z-index: 88;}
.confirm_order .pay_content li:nth-child(1) i{font-size: 0.45rem;margin-left: 0.20rem;float: left;margin-top: 0.05rem;}
.confirm_order .pay_content li h3{font-size: 0.38rem;color: #333333; text-align: center;}
.confirm_order .pay_content li p{display: inline-block;margin-left: 0.20rem; font-size: 0.30rem;color: #999999;}
.confirm_order .pay_content li span{float: right;margin-right: 0.20rem;  font-size: 0.30rem;color: #999999;}
.confirm_order .pay_content li:nth-child(3) i{float: right;margin-top: 0.03rem;}
.confirm_order .pay_content li:nth-child(4) p{font-size: 0.30rem;color: #333333;display: inline-block;margin-left: 0.20rem;}
.confirm_order .pay_content li:nth-child(4) span{font-size: 0.30rem;color: #333333;float: right;margin-right: 0.20rem;}
.confirm_order .pay_content li:nth-child(5){width: 100%;text-align: center;}
.confirm_order .pay_content li button{font-size: 0.38rem;color: #FFFFFF;text-align: center;padding: 0.10rem 2.50rem;
					margin-top: 1.00rem;margin-bottom: 1.00rem; background: #FA565A;border: none;border-radius: 8px;}

.confirm_order .payfailure{position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 66; background: rgba(128,128,128,0.5);}
.confirm_order .pay_failure{position: absolute;top: 38%;left: 20%;right: 20%;background: #FFFFFF;border-radius: 15px;  z-index: 88;}
.confirm_order .pay_failure .top{width: 100%;padding-bottom: 0.14rem;border-bottom: 1px solid #F2F2F2;}
.confirm_order .pay_failure h3{font-size: 0.26rem;color: #333333;text-align: center;margin-top: 0.34rem;margin-bottom: 0.22rem;}
.confirm_order .pay_failure p{font-size: 0.20rem;color: #666666;text-align: center;}
.confirm_order .pay_failure p b{font-size: 0.20rem;color: #FA565A;}
.confirm_order .pay_failure form{width: 100%;}
.confirm_order .pay_failure button{width: 45%;padding: 0.25rem 0; text-align: center;margin: 0; font-size: 0.26rem;color: #333333;background: none;border:none}
.confirm_order .pay_failure button:nth-child(1){margin-left: 0.20rem;border-right: 1px solid #F2F2F2;}
.confirm_order .pay_failure button:nth-child(2){margin-left: -0.30rem;}

.confirm_order .paysuccess{position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 66; background: rgba(128,128,128,0.5);}
.confirm_order .pay_success{position: absolute;top: 38%;left: 20%;right: 20%;background: #FFFFFF;border-radius: 15px;  z-index: 88;}
.confirm_order .pay_success .top{width: 100%;padding-bottom: 0.14rem;border-bottom: 1px solid #F2F2F2;}
.confirm_order .pay_success h3{font-size: 0.26rem;color: #333333;text-align: center;margin-top: 0.34rem;margin-bottom: 0.22rem;}
.confirm_order .pay_success p{font-size: 0.20rem;color: #666666;text-align: center;}
.confirm_order .pay_success p b{font-size: 0.20rem;color: #FA565A;}
.confirm_order .pay_success form{width: 100%;}
.confirm_order .pay_success button{width: 45%;padding: 0.25rem 0; text-align: center;margin: 0; font-size: 0.26rem;color: #333333;background: none;border:none}
.confirm_order .pay_success button:nth-child(1){margin-left: 0.10rem;border-right: 1px solid #F2F2F2;}
.confirm_order .pay_success button:nth-child(2){margin-left: -0.30rem;}

.confirm_order .confirm_head{width: 100%;background: #fdfbfb;}
.confirm_order .confirm_head i{font-size: 0.32rem;margin-left: 0.28rem;margin-top: 0.25rem;color: #666;}
.confirm_order .confirm_head .tit{width: 90%;text-align: center;padding-top: 0.23rem;}
.confirm_order .confirm_head h3{font-size: 0.38rem;font-family: "宋体";color: #666666;}

.confirm_order .content{width: 100%;}
.confirm_order .content .order_top{width: 94%;margin: 0 auto;clear: both;overflow: hidden;}
.confirm_order .content .order_top .pic{width: 10%; display: inline-block;margin-top: 0.60rem;margin-left: 0.40rem;}
.confirm_order .content .order_top .pic img{width: 90%;}
.confirm_order .content .order_top .right{width: 68%;float: right;margin-right: 0.68rem;}
.confirm_order .content .order_top .right p:nth-child(1){margin-top: 0.20rem; font-size: 0.26rem;font-family: "宋体";color: #333;}
.confirm_order .content .order_top .right p:nth-child(1) span{font-size: 0.26rem;font-family: "宋体";color: #333;float: right;}
.confirm_order .content .order_top .right h4{display: inline-block;float: left;margin-bottom: 0.55rem;margin-top: 0.20rem; font-size: 0.20rem;font-family: "宋体";color: #666;}
.confirm_order .content .order_top .right p:nth-child(3){margin-top: 0.20rem;  font-size: 0.20rem;font-family: "宋体";color: #666;}
.confirm_order .content .order_top .right p:nth-child(4){margin-bottom: 0.12rem; margin-top: 0.20rem; font-size: 0.18rem;font-family: "宋体";color: #fa565e;}
.confirm_order .content .box{width: 100%;height: 0.20rem;background: #f2f2f2;clear: both;overflow: hidden;margin-top: 0.20rem;margin-bottom: 0.10rem;}
.confirm_order .content .logo{width: 100%;margin-left: 0.53rem;margin-bottom: 0.20rem;}
.confirm_order .content .logo img{width: 20%;}

@media only screen and (max-width: 780px) {
	.confirm_order .content .order_top .right h4{margin-bottom: 0.30rem;}
}
@media only screen and (max-width: 420px) {
	.confirm_order .content .order_top .right h4{margin-bottom: 0.55rem;}
}
@media only screen and (max-width: 370px) {
	.confirm_order .content .order_top .right h4{margin-bottom: 0.65rem;}
}
.confirm_order .order_detail{width: 100%;clear: both;overflow: hidden;background: #F2F2F2;margin-bottom: 0.10rem;}
.confirm_order .order_detail .left{width: 28%; margin-left: 0.53rem;margin-right: 0.16rem; float: left;padding-top: 0.16rem;padding-bottom: 0.16rem;}
.confirm_order .order_detail .left img{width: 100%;}
.confirm_order .order_detail .right{width: 92%;}
.confirm_order .order_detail .right h3{margin-top: 0.26rem; font-size: 0.26rem;color: #555555;}
.confirm_order .order_detail .right p:nth-child(2){margin-top: 0.08rem;}
.confirm_order .order_detail .right p:nth-child(2) small{font-size: 40%;color: #DD2727;}
.confirm_order .order_detail .right p:nth-child(2) b{font-weight: normal; font-size: 0.48rem;color: #dd2727;}
.confirm_order .order_detail .right p:nth-child(2) span{color: #dd2727;font-size: 0.18rem;border: 1px solid #FA565A;padding: 1px 4px;border-radius: 3px;margin-left: 0.30rem;}
.confirm_order .order_detail .right p:nth-child(3){font-size: 0.24rem;color: #999;}
.confirm_order .order_detail .right p:nth-child(3) span{font-size: 0.24rem;color: #999;text-decoration: line-through;}
.confirm_order .order_detail .right p:nth-child(3) i{float: right;color: #666666;margin-right: 0.20rem;}

.confirm_order .option .information{width: 100%;}
.confirm_order .option .information .item{border-left: none;border-color: #f2f2f2;text-align: left;float: none;margin: 0px;width: 100%;}
.confirm_order .option .information .item:nth-child(1){border-top: none;}
.confirm_order .option .information .item:nth-child(1) span{line-height: 0.45rem;font-size: 0.30rem;color: #333333;}
.confirm_order .option .information form{display: inline;float: right;width: 25%;margin-right: 0.10rem;}
.confirm_order .option .information form button{width: 26px;height: 26px;text-align: center; padding: 0;background: transparent;border: 1px solid #F2F2F2;}
.confirm_order .option .information form button.reduce{margin-right: -4px;}
.confirm_order .option .information form button.add{margin-left: -8px;}
.confirm_order .option .information form input{text-align: center;padding: 0; display: inline; width: 50px;height: 26px;margin-top: 0px; border-top: 1px solid #f2f2f2;border-bottom: 1px solid #f2f2f2;}
.confirm_order .option .information li:nth-child(2) span{font-size: 0.30rem;color: #333333;}
.confirm_order .option .information li:nth-child(2) .right{width: 18%;float: right;}
.confirm_order .option .information li:nth-child(2) .right p{font-size: 0.30rem;color: #333333;}
.confirm_order .option .information li:nth-child(3) span{font-size: 0.30rem;color: #333333;}
.confirm_order .option .information li:nth-child(3) .right{width: 18%;float: right;}
.confirm_order .option .information li:nth-child(3) .right p{font-size: 0.30rem;color: #333333;}
.confirm_order .option .information li:nth-child(4) span{font-size: 0.30rem;color: #333333;float: left;margin-top: 18px;}
.confirm_order .option .information li:nth-child(4) input{display: inline; width: 65%;padding: 4px 0 0 5px;font-size: 0.28rem;color: #999999;}
.confirm_order .option .information li:nth-child(4) label{font-size: 0;line-height: 0;}
.confirm_order .option .information .item:nth-child(4){padding: 11px 16px;}
.confirm_order .option .information li:nth-child(5){text-align: right;border-bottom: none;}
.confirm_order .option .information li:nth-child(5) p{font-size: 0.30rem;color: #333333;margin-right: 4%;}
.confirm_order .option .information li:nth-child(5) p span{font-size: 0.30rem;color: #333333;margin-left: 0.56rem;}
.confirm_order .option .information li:nth-child(5) p i{font-size: 0.30rem;color: #df3f3f;}
.confirm_order .option .information li:nth-child(5) p small{font-size: 0.30rem;color: #333333;}
.confirm_order .content .boxtwo{width: 100%;height: 0.20rem;background: #f2f2f2;clear: both;overflow: hidden;margin-top: 0.10rem;margin-bottom: 0.10rem;}
.confirm_order .option .payWay{width: 100%;margin-left: 3%;}
.confirm_order .option .payWay .item{border-left: none;border-color: #f2f2f2;}
.confirm_order .option .payWay .item:nth-child(1){border-top: none;}
.confirm_order .option .payWay li span{font-size: 0.30rem;color: #333333;}
.confirm_order .option .payWay li form{position: relative;float: right;margin-right: 4%;}
/*自定义复选框*/
.confirm_order .option .payWay li form label{ font-weight: normal; cursor: pointer;}
.confirm_order .option .payWay li form label input{display: none;margin: 0 1%;position: absolute;}
.confirm_order .option .payWay li form label span{float: left;margin-right: 2px; margin-top: 5px;display: inline-block;width: 10px;height: 10px;border: 1px solid #999999;}
.confirm_order .option .payWay li form label input:checked +span:before{content: '';transform: rotate(45deg); display: block;position: absolute;width: 5px;height: 7px; top: 5px;left: 3px;border-bottom: 1px solid #929292;border-right: 1px solid #929292;}
                                 
 
/*****************login登录页****************************/

.login{width: 100%;background: url(../img/login_bg.png) no-repeat;background-size: 100%;}
.login i.left{font-size: 24px;margin-left: 0.28rem;color: #fff;}
.login .pic{width: 50%;margin: 0 auto;text-align: center;margin-top: 1.60rem;}
.login .pic img{width: 50%;}
.login .pic p{font-size: 0.48rem;color: #dcd3cf;font-family: "宋体";margin-top: 0.48rem;}
.login .messege{width: 80%;margin: 0 auto;margin-top: 2.40rem;position: relative;}
.login .messege p.alerts{font-size: 0.24rem;color: #FF6666;margin-left: 1.00rem;}      
.login .messege img.member{width: 6%;display: block;margin-top: -0.10rem;}
.login .messege img.password{width: 5%;}
.login .messege img.phone{width: 5%;}
.login .messege input{font-size: 0.30rem;font-family: "宋体";color: #fff;margin-left: 0.35rem;}
.login .messege input.code{margin-left: 0.40rem;}
.login .messege span{font-size: 0.26rem;font-family: "宋体";color: #fff;
				padding: 0.15rem 0.50rem;border-radius: 50px; background: #111111;text-align: center;}
.login .messege button{background: #b93a2c;border-radius: 5px;border: none;font-size: 0.32rem;
				font-family: "宋体";color: #fff;width: 100%;text-align: center;padding: 0.20rem 0;}
.login .messege .order{width: 100%;}
.login .messege .order a{font-size: 0.20rem;font-family: "宋体";color: #f2f2f2;}
.login .messege .order a:nth-child(1){float: left;}
.login .messege .order a:nth-child(2){float: right;}
.login .other_way{width: 100%;text-align: center;margin: 0.95rem 0;}
.login .other_way span{font-size: 0.30rem;font-family: "宋体";color: #fff;margin-right: 0.10rem;}
.login .other_way img{width: 3%;}

/******************order订单页*********************************/

.orderpage .confirm_head{width: 100%;background: #fdfbfb;}
.orderpage .confirm_head i{font-size: 24px;margin-left: 0.28rem;margin-top: 0.25rem;color: #666666;}
.orderpage .confirm_head .tit{width: 90%;text-align: center;padding-top: 0.25rem;}
.orderpage .confirm_head h3{font-size: 0.38rem;font-family: "宋体";color: #666666;}

.orderpage .order_all{width: 100%;position: absolute;top: 40px;}
.orderpage .order_all li{border-bottom: 0.20rem solid #F2F2F2;}
.orderpage .order_all li:nth-child(1){border-top: 0.20rem solid #F2F2F2;}
.orderpage .order_all li h1{margin-left: 0.38rem;}
.orderpage .order_all li h1 span{font-size: 0.26rem;color: #333333;}
.orderpage .order_all li h1 span:nth-child(2){float: right;margin-right: 0.38rem;margin-top: 22px;}

.orderpage .order_all li .order_detail{width: 100%;clear: both;overflow: hidden;background: #F2F2F2;margin-bottom: 0.10rem;margin-top: 0.20rem;}
.orderpage .order_all li .order_detail .left{width: 28%; margin-left: 0.53rem;margin-right: 0.16rem; float: left;padding-top: 0.16rem;padding-bottom: 0.16rem;}
.orderpage .order_all li .order_detail .left img{width: 100%;}
.orderpage .order_all li .order_detail .right{width: 92%;}
.orderpage .order_all li .order_detail .right h3{margin-top: 0.36rem; font-size: 0.26rem;color: #555555;}
.orderpage .order_all li .order_detail .right p:nth-child(2){margin-top: 0.10rem;}
.orderpage .order_all li .order_detail .right p:nth-child(2) small{font-size: 40%;color: #DD2727;}
.orderpage .order_all li .order_detail .right p:nth-child(2) b{font-weight: normal; font-size: 0.48rem;color: #dd2727;}
.orderpage .order_all li .order_detail .right p:nth-child(2) span{color: #dd2727;font-size: 0.18rem;border: 1px solid #FA565A;padding: 1px 4px;border-radius: 3px;margin-left: 0.30rem;}
.orderpage .order_all li .order_detail .right p:nth-child(3){font-size: 0.24rem;color: #999;}
.orderpage .order_all li .order_detail .right p:nth-child(3) span{font-size: 0.24rem;color: #999;text-decoration: line-through;}
.orderpage .order_all li .order_detail .right p:nth-child(3) i{float: right;color: #666666;margin-right: 0.20rem;}

.orderpage .order_all li .total{width: 100%;margin-top: 0.30rem; text-align: right;}
.orderpage .order_all li .total p{font-size: 0.26rem;color: #333333;margin-right: 0.40rem;}
.orderpage .order_all li .total p span{margin-left: 10px;}
.orderpage .order_all li .total p b{color: #dd2727;}
.orderpage .order_all li .total p small{color: #666;}
.orderpage .order_all li .timeway{width: 100%;margin-top: 0.20rem;border-top: 2px solid #F2F2F2;}
.orderpage .order_all li .timeway span{font-size: 0.26rem;color: #333333;margin-left: 0.40rem;line-height: 1.10rem;}
.orderpage .order_all li .timeway form{width: 52%; float: right;margin-top: 0.12rem;}
.orderpage .order_all li .timeway form button.cancel{float: right;background: none;border: 1px solid #F2F2F2;
							padding: 10px 15px;font-size: 0.28rem;color: #333;border-radius: 5px;margin-right: 0.25rem;}
.orderpage .order_all li .timeway form button.pay{float: right;background: #fa565a;border: none;margin-right: 0.40rem;
							padding: 10px 15px;font-size: 0.28rem;color: #fff;border-radius: 5px;}
@media only screen and (max-width: 720px) {
	.orderpage .tab-item-active span{padding-bottom: 6px;} /*调整当前状态下划线的宽度，由span控制*/
	.orderpage .tab-item span{font-size: 0.22rem;}
}
@media only screen and (max-width: 680px) {
	.orderpage .tab-item-active span{padding-bottom: 7px;} /*调整当前状态下划线的宽度，由span控制*/
	.orderpage .tab-item span{font-size: 0.22rem;}
}
@media only screen and (max-width: 540px) {
	.orderpage .tab-item-active span{padding-bottom: 6px;} /*调整当前状态下划线的宽度，由span控制*/
	.orderpage .tab-item span{font-size: 0.26rem;}
}
@media only screen and (max-width: 500px) {
	.orderpage .tab-item-active span{padding-bottom: 7px;} /*调整当前状态下划线的宽度，由span控制*/
	.orderpage .tab-item span{font-size: 0.26rem;}
}
@media only screen and (max-width: 460px) {
	.orderpage .tab-item-active span{padding-bottom: 9px;} /*调整当前状态下划线的宽度，由span控制*/
	.orderpage .tab-item span{font-size: 0.28rem;}
}
@media only screen and (max-width: 400px) {
	.orderpage .tab-item-active span{padding-bottom: 9px;} /*调整当前状态下划线的宽度，由span控制*/
	.orderpage .tab-item span{font-size: 0.32rem;}
}
/*******************pro_categories品类****************************/
.pro_categories .cate_content{width: 100%;}
.pro_categories .cate_content li{padding: 0.24rem 0; width: 50%;float: left;text-align: center;font-size: 0.30rem;color: #333;}
.pro_categories .cate_content li.on{color: #FE585C;border-bottom: 3px solid #FE585C;}

.pro_categories .cate_list{width: 100%;clear: both;overflow: hidden;}
.pro_categories .cate_list .pic_top{width: 100%;position: relative;}
.pro_categories .cate_list .pic_top img{width: 100%;}
.pro_categories .cate_list .pic_top .pic_tg{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: 12;}
.pro_categories .cate_list .pic_top .pic_tg .pic_content{width: 60%;margin: 14% auto;text-align: center;}
.pro_categories .cate_list .pic_top .pic_tg .pic_content h3{font-size: 0.30rem;color: #FFFFFF;letter-spacing: 2px;}
.pro_categories .cate_list .pic_top .pic_tg .pic_content p{font-size: 0.24rem;color: #FFFFFF;}
.pro_categories .cate_list .pic_top .pic_tg .pic_content span{margin-top: 0.20rem;background: #000;padding: 8px 14px; font-size: 0.24rem;color: #FFFFFF;}

.pro_categories .cate_list .list_li{width: 96%;margin: 1% auto;clear: both;overflow: hidden;}
.pro_categories .cate_list .list_li ul{width: 100%;margin-left: -0.6%;}
.pro_categories .cate_list .list_li li{position: relative; height: 2.20rem;border: 1px solid #F2F2F2;margin-top: 0.20rem; width: 24%;margin-left: 1%;text-align: center;float: left;}
.pro_categories .cate_list .list_li li img{width: 100%;padding: 0.12rem 0.25rem;}
.pro_categories .cate_list .list_li li h4{position: absolute;bottom: 20px;left: 0.30rem; font-size: 0.26rem; color: #333333;}

.pro_categories .cate_list .pic_up{width: 100%;position: relative;clear: both;overflow: hidden;margin-top: 0.20rem;}
.pro_categories .cate_list .pic_up img{width: 100%;}
.pro_categories .cate_list .pic_up .box{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: 12;}

/***************pro_details产品详情*******************************/

.pro_page .pro_header{width: 100%;border-bottom: 1px solid #999;}
.pro_page .pro_header i.turn_up{font-size: 0.36rem;color: #777; margin-left: 0.40rem;float: left;margin-top: 0.25rem;}
.pro_page .pro_header img{float: right;margin-top: 0.28rem;margin-right: 20px;width: 6%;}
.pro_page .pro_header i.message{font-size: 0.50rem;color: #888; margin-right: 0.30rem;margin-top: 0.23rem;}

.pro_page .pro_massege{width: 100%;margin-top: 0.20rem;padding-bottom: 0.20rem;border-bottom: 0.20rem solid #F2F2F2;margin-bottom: 30%;}
.pro_page .pro_massege .left{width: 80%;float: left;margin-left: 0.20rem;margin-bottom: 0.20rem;} 
.pro_page .pro_massege .left h3{font-size: 0.30rem;color: #666666;margin-bottom: 0.06rem;}
.pro_page .pro_massege .left i{font-size: 0.40rem;color: #DD2727;margin-right: 6px;}
.pro_page .pro_massege .left b{font-size: 0.48rem;color: #DD2727;font-weight: normal;}
.pro_page .pro_massege .left small{font-size: 0.18rem;color: #DD2727;padding: 0.02rem 0.06rem;
							margin-left: 0.28rem; border: 1px solid #DD2727;border-radius: 3px;}
.pro_page .pro_massege .left p{font-size: 0.24rem;color: #999999;}
.pro_page .pro_massege .left p span{font-size: 0.24rem;color: #999999;text-decoration: line-through;margin-top: 0.10rem;}

.pro_page .pro_massege .right{width: 10%;float: right;text-align: center;margin-right: 0.20rem;}
.pro_page .pro_massege .right img{width: 60%;}
.pro_page .pro_massege .right p{font-size: 0.24rem;color: #999999;margin-top: 6px;}

.pro_page .pro_massege .up{width: 100%;margin-left: 0.20rem;clear: both;overflow: hidden;}
.pro_page .pro_massege .up li{float: left;font-size: 0.24rem;color: #999999;}
.pro_page .pro_massege .up li:nth-child(2){margin-left: 32%;}
.pro_page .pro_massege .up li:nth-child(3){float: right;margin-right: 0.60rem;}

.pro_page .pro_footer{width: 100%;}
.pro_page .pro_footer ul{width: 100%;}
.pro_page .pro_footer li{float: left;width: 14%;text-align: center;}
.pro_page .pro_footer li img{width: 42%; margin-bottom: 3px;}
.pro_page .pro_footer li p{font-size: 0.16rem;color: #666666;line-height: 13px;}
.pro_page .pro_footer li:nth-child(1){border-right: 1px solid #F2F2F2;}
.pro_page .pro_footer li:nth-child(2){border-right: 1px solid #F2F2F2;}
.pro_page .pro_footer li:nth-child(4){width: 29%;}
.pro_page .pro_footer li:nth-child(5){width: 29%;}
.pro_page .pro_footer li:nth-child(4){line-height: 0.90rem; background: #feaa58; font-size: 0.30rem;color: #FFFFFF;/*height: 100%;*/}
.pro_page .pro_footer li:nth-child(5){line-height: 0.90rem; background: #fe585c; font-size: 0.30rem;color: #FFFFFF;/*height: 100%;*/}

@media only screen and (max-width: 880px) {
	.pro_page .tab-nav.tabs{padding-top: 0.18rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.26rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 850px) {
	.pro_page .tab-nav.tabs{padding-top: 0.18rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.24rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 770px) {
	.pro_page .tab-nav.tabs{padding-top: 0.18rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.22rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 750px) {
	.pro_page .tab-nav.tabs{padding-top: 0.18rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.20rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 680px) {
	.pro_page .tab-nav.tabs{padding-top: 0.16rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.18rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 640px) {
	.pro_page .tab-nav.tabs{padding-top: 0.14rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.20rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 600px) {
	.pro_page .tab-nav.tabs{padding-top: 0.10rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.21rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 568px) {
	.pro_page .tab-nav.tabs{padding-top: 0.08rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.21rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 520px) {
	.pro_page .tab-nav.tabs{padding-top: 0.04rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.21rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 470px) {
	.pro_page .tab-nav.tabs{padding-top: 0px;}
	.pro_page .tab-item-active span{padding-bottom: 0.22rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 430px) {
	.pro_page .tab-nav.tabs{padding-top: 0px;}
	.pro_page .tab-item-active span{padding-bottom: 0.178rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 400px) {
	.pro_page .tab-nav.tabs{margin-top: -0.06rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.17rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 380px) {
	.pro_page .tab-nav.tabs{margin-top: -0.06rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.148rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 360px) {
	.pro_page .tab-nav.tabs{margin-top: -0.06rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.13rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 355px) {
	.pro_page .tab-nav.tabs{margin-top: -0.06rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.11rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 336px) {
	.pro_page .tab-nav.tabs{margin-top: -0.10rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.10rem;} /*调整当前状态下划线的宽度，由span控制*/
}
@media only screen and (max-width: 328px) {
	.pro_page .tab-nav.tabs{margin-top: -0.12rem;}
	.pro_page .tab-item-active span{padding-bottom: 0.10rem;} /*调整当前状态下划线的宽度，由span控制*/
}
/*****************pro_list产品列表*****************************/

.pro_list .list_top{font-size: 0.28rem;border-bottom: 1px solid #FA565A;background: #fff;overflow: hidden;width: 100%;z-index: 10;}
.pro_list .list_top ul{padding: 0 5%;}
.pro_list .list_top ul li{float: left;width: 25%;text-align: center;font-size: 0.32rem;height: 0.6rem;line-height: 0.6rem;color: #666;position: relative;}
.pro_list .list_top ul li:nth-child(2) i:nth-child(1){top: -0.05rem;position: absolute;left: 1.15rem;color:#797b7d;}
.pro_list .list_top ul li:nth-child(2) i:nth-child(2){top: 0.1rem;position: absolute;left: 1.15rem;color:#797b7d;}
.pro_list .list_top ul li:nth-child(3) i:nth-child(1){top: -0.05rem;position: absolute;left: 1.15rem;color:#797b7d;}
.pro_list .list_top ul li:nth-child(3) i:nth-child(2){top: 0.1rem;position: absolute;left: 1.15rem;color:#797b7d;}

.pro_list .list_top ul li:nth-child(2).on i:nth-child(1){color:#ff6666;}
.pro_list .list_top ul li:nth-child(2).on i:nth-child(2){color:#ff6666;}
.pro_list .list_top ul li:nth-child(3).on i:nth-child(1){color:#ff6666;}
.pro_list .list_top ul li:nth-child(3).on i:nth-child(2){color:#ff6666;}
.pro_list .list_top ul li.on{color: #ff6666;}

.pro_list .list_kind{width: 52%;float: right;margin-top: 0.34rem;}
.pro_list .list_kind li{width: 35%;font-size: 0.30rem;color: #333333;text-align: center;background: #F2F2F2;
			padding: 0.16rem 0;border-radius: 5px; float: left;margin-top: 0.25rem;margin-left: 0.25rem;}

.pro_list .list_content{width: 100%;clear: both;overflow: hidden;}
.pro_list .list_content .composite{width: 100%;clear: both;overflow: hidden;}
.pro_list .list_order li{width: 40%;float: left;margin-top: 0.40rem;margin-left: 6.5%;}
.pro_list .list_order li img.produce{width: 100%;border-radius: 10px;}
.pro_list .list_order li h3{font-size: 0.30rem;color: #666;margin-top: 0.30rem;}
.pro_list .list_order li span{font-size: 0.30rem;color: #fb262c;}
.pro_list .list_order li i{font-size: 0.30rem;color: #fb262c;}
.pro_list .list_order li img.car{width: 15%;float: right;margin-top: 8%;}
.pro_list .list_order li:nth-child(odd){margin-top: -21%;}
.pro_list .list_order li:nth-child(1){margin-top: 0.40rem;}
.pro_list .loadend-tip{clear: both;overflow: hidden;margin-top: 0.40rem;padding: 0 0.20rem; width: 100%;font-size: 0.30rem;color: #fff;background: #FA565A;}
/******************register注册页面*********************/

.register{width: 100%;background: url(../img/login_bg.png) no-repeat;background-size: 100%;}
.register i.left{font-size: 24px;margin-left: 0.28rem;color: #fff;}

.register .pic{width: 50%;margin: 0 auto;text-align: center;margin-top: 1.60rem;}
.register .pic img{width: 50%;}
.register .pic p{font-size: 0.48rem;color: #dcd3cf;font-family: "宋体";margin-top: 0.48rem;}


.register .messege p{color: #FF6666;font-size: 0.24rem;margin-left: 0.80rem;}
.register .messege img.member{width: 6%;display: block;margin-top: -0.10rem;}
.register .messege img.password{width: 5%;}
.register .messege img.phone{width: 5%;}
.register .messege input{font-size: 0.30rem;font-family: "宋体";color: #fff;margin-left: 0.35rem;}
.register .messege input.code{margin-left: 0.40rem;}
.register .messege input.pass{margin-left: 0.40rem;}
.register .messege span{font-size: 0.26rem;font-family: "宋体";color: #fff;padding: 0.15rem 0.55rem;
				border-radius: 50px; background: #111111;text-align: center;}
.register .messege button{background: #b93a2c;border-radius: 5px;border: none; font-size: 0.32rem;
				font-family: "宋体";color: #fff;width: 100%;text-align: center;padding: 0.20rem 0;}
.register .messege .order{width: 100%;text-align: center;}
.register .messege .order a{font-size: 0.20rem;font-family: "宋体";color: #8b8d93;}


.register .other_way{width: 100%;text-align: center;margin: 0.45rem 0 1.00rem 0;}
.register .other_way span{font-size: 0.30rem;font-family: "宋体";color: #fff;margin-right: 0.10rem;}
.register .other_way img{width: 3%;}

/******************search搜索页***************************/
.searchpage .content{width: 100%;}
.searchpage .content .con_center{width: 94%;margin: 0 auto;}
.searchpage .content .con_center h3{font-size: 0.30rem;font-family: "宋体";color: #999;margin: 0.40rem 0;}
.searchpage .content .con_center ul{margin-left: -3%;}
.searchpage .content .con_center li{float: left;margin-left: 3%;width: 30%;text-align: center;padding: 0.16rem 0; margin-bottom: 0.20rem;
		background: #f2f2f2;border-radius: 4px; font-size: 0.30rem;font-family: "宋体";color: #999;}

/******************shop_car购物车********************************/

.shop_car .car_head{width: 100%;background: #fdfbfb;}
.shop_car .car_head i{font-size: 0.25rem;margin-left: 0.28rem;margin-top: 0.25rem;}
.shop_car .car_head .tit{width: 88%;text-align: center;padding-top: 0.25rem;}
.shop_car .car_head .tit h3{font-size: 0.36rem;font-family: "宋体";color: #666666;}
.shop_car .car_head .tit span{float: right;margin-top: 0.04rem; font-size: 0.30rem;font-family: "宋体";color: #666666;}

.shop_car .car_content{width: 100%;}
.shop_car .car_content .car_top{width: 100%;background: #F2F2F2;padding: 0.12rem 0 0.20rem 0.50rem;}
.shop_car .car_content .car_top img{width: 23%;}

.shop_car .car_content .car_list{width: 100%;clear: both;overflow: hidden;margin: 0px; }
.shop_car .car_content .car_list li{width: 100%;padding: 0.30rem;margin-left: 0px; border-bottom: 0.10rem solid #F2F2F2;}
.shop_car .car_content .car_list li:last-child{border-bottom: none;}
.shop_car .car_content .car_list li .list_left{width: 32%;display: inline-block;}
.shop_car .car_content .car_list li .list_left .pro_pic{margin-left: 0.35rem;text-align: center;}
.shop_car .car_content .car_list li .list_left .pro_pic img{width: 100%;}
.shop_car .car_content .car_list li .list_left form{float: left;margin-top: 0.80rem;}
/*自定义复选框*/
.shop_car .car_content .car_list li .list_left form label{position: relative; font-weight: normal; cursor: pointer;}
.shop_car .car_content .car_list li .list_left form label input{display: none;margin: 0 1%;position: absolute;}
.shop_car .car_content .car_list li .list_left form label span{float: left;margin-right: 2px;border-radius: 50%; margin-top: 3px;display: inline-block;width: 13px;height: 13px;border: 1px solid #929292;}
.shop_car .car_content .car_list li .list_left form label input:checked +span:before{content: ''; display: block;position: absolute;width: 9px;height: 9px;background: #999;
                                  border-radius: 50%; top: 4px;left: 1px;}
                                  


.shop_car .car_content .car_list li .list_right{width: 58%;float: right;margin-right: 0.30rem;text-align: left;}
.shop_car .car_content .car_list li .list_right h3{line-height: normal; font-size: 0.24rem;color: #333333;margin-top: 0.20rem;}
.shop_car .car_content .car_list li .list_right .right_up{width: 100%;margin-top: 0.50rem;}
.shop_car .car_content .car_list li .list_right .right_up span{font-size: 0.26rem;color: #fe585c;}
.shop_car .car_content .car_list li .list_right .right_up i{font-size: 0.36rem;color: #fe585c;}
.shop_car .car_content .car_list li .list_right .right_up form{display: inline;width: 15%;margin-left: 0.15rem;}
.shop_car .car_content .car_list li .list_right .right_up form button{width: 26px;height: 26px;text-align: center; padding: 0;background: transparent;border: 1px solid #F2F2F2;}
.shop_car .car_content .car_list li .list_right .right_up form button.reduce{margin-right: -4px;}
.shop_car .car_content .car_list li .list_right .right_up form button.add{margin-left: -8px;}
.shop_car .car_content .car_list li .list_right .right_up form input{padding: 2px; width: 0.65rem;height: 26px; border-top: 1px solid #f2f2f2;border-bottom: 1px solid #f2f2f2; text-align: center; display: inline;}
.shop_car .car_content .car_list li .list_right .right_up img.del{width: 10%;float: right;}

.shop_car .car_content .car_love{width: 100%;background: #F2F2F2;text-align: center;padding-bottom: 0.10rem;}
.shop_car .car_content .car_love h3{padding: 0 0.10rem; font-size: 0.24rem;color: #666666;display: inline;background: #F2F2F2;}
.shop_car .car_content .car_love i{display: inline-block;margin-top: -0.15rem;float: left; width: 100%;height: 1px;background: #d5d5d5;}
.shop_car .car_content .car_love .love_list{width: 94%;margin: 0 auto;clear: both;overflow: hidden;}
.shop_car .car_content .car_love .love_list ul{width: 100%;margin-left: -1.5%;}
.shop_car .car_content .car_love .love_list li{width: 47%;margin-left: 3%;float: left;margin-top: 0.25rem;}
.shop_car .car_content .car_love .love_list li img{width: 100%;}

.shop_car .go_bay{width: 100%;position: absolute;bottom: 0.90rem;background: #FFFFFF;height: 0.88rem;border-top: 1px solid #999;}
.shop_car .go_bay li{float: left;width: 20%;font-size: 0.24rem;color: #666;}
.shop_car .go_bay li form.chk{position: relative;}
.shop_car .go_bay li form label{font-weight: normal; cursor: pointer;font-size: 0.24rem;color: #333;}
.shop_car .go_bay li form label input{display: none;margin: 0 1%;position: absolute;}
.shop_car .go_bay li form label span{float: left;margin-right: 6px;border-radius: 50%; margin-top: 5px;display: inline-block;width: 13px;height: 13px;border: 1px solid #929292;}
.shop_car .go_bay li form label input:checked +span:before{content: ''; display: block;position: absolute;width: 9px;height: 9px;background: #999;
                                  border-radius: 50%; top: 7px;left: 2px;}
  
.shop_car .go_bay li span{font-size: 0.24rem;color: #FA565A;}
.shop_car .go_bay li form button{font-size: 0.30rem;color: #FFFFFF;background: #FA565A;border: none;margin-top: 0.20rem;}
.shop_car .go_bay li:nth-child(1) form{margin-top: 0.30rem;margin-left: 0.20rem;}
.shop_car .go_bay li:nth-child(2){width: 30%; padding-top: 0.30rem;}
.shop_car .go_bay li:nth-child(3){width: 16%; padding-top: 0.30rem;padding-left: 0.20rem;}
.shop_car .go_bay li:nth-child(4){width: 34%;text-align: center;background: #FA565A;height: 1.20rem;}

/*******************user**********************************/
.user .top_pic{width: 100%;position: relative;border-bottom: 0.88rem solid #F2F2F2;}
.user .top_pic img:nth-child(2){border: 2px solid #fff;border-radius: 50%; position: absolute;bottom: -0.65rem;left: 3.00rem;width: 18%;}
.user .top_pic img{width: 100%;}

.user .user_message{width: 100%;}
.user .user_message .list{width: 100%;margin: 0px;}
.user .user_message li{width: 100%;margin: 0px;text-align: left;}
.user .user_message li img{width: 6%;margin-left: 0.40rem;float: left;margin-top: -4px;}
.user .user_message li span{font-size: 0.30rem;color: #666;margin-left: 0.30rem;}
.user .user_message li i{float: right;font-size: 24px;margin-right: 0.40rem;}
.user .user_message li:nth-child(1){border-top: none;margin: 0px;}
.user .user_message li:nth-child(2){border-bottom-width: 0.20rem;}
.user .user_message li:nth-child(5){border-bottom-width: 0.20rem;}



/**********底部****************/
.bar{height:0.88rem;padding: 0;}
.has-footer{bottom: 0.88rem;}
.footer_bottom{height: 0.98rem;width: 100%;}
.index_bottom .list{margin: 0;font-size: 0.22rem;}
.index_bottom .fot_bom{height: 0.98rem;}
.footer_bottom .tab-item{height: 0.98rem;width: 1.5rem;padding-top: 0.10rem;}
.tab-item .icon{font-size: 0.22rem;width: 1.5rem;height:0.42rem;}
.footer_bottom p{font-size: 0.24rem;color: #333333; width: 1.85rem;margin-top: 0.05rem;height:0.35rem;line-height: 0.20rem;}
.footer_bottom a.on p{color: #fa565a;}
.footer_bottom a img{width: 0.4rem;height: 0.4rem;}
/*.footer_bottom i:before{padding-top: 0rem;font-size: 0.4rem;}*/
/*.footer_bottom a:nth-child(1) i:before{content: "";background: url(../img/footer_01.png) no-repeat 0rem;
background-size:100% ;width: 0.4rem;height: 0.4rem; }
.footer_bottom a:nth-child(1).on i:before{content:"";background: url(../img/footer_01_.png) no-repeat 0rem;
background-size:100% ; width: 0.38rem;height: 0.38rem;}
.footer_bottom a:nth-child(2) i:before{content: "";background: url(../img/footer_02.png) no-repeat 0rem;
background-size:100% ; width: 0.4rem;height: 0.4rem;}
.footer_bottom a:nth-child(2).on i:before{content: "";background: url(../img/footer_02_.png) no-repeat 0rem;
background-size:100% ; width: 0.4rem;height: 0.4rem;}
.footer_bottom a:nth-child(3) i:before{content: "";background: url(../img/footer_03.png) no-repeat 0rem;
background-size:100% ; width: 0.4rem;height: 0.4rem;}
.footer_bottom a:nth-child(3).on i:before{content: "";background: url(../img/footer_03_.png) no-repeat 0rem;
background-size:100% ; width: 0.4rem;height: 0.4rem;}
.footer_bottom a:nth-child(4) i:before{content: "";background: url(../img/footer_04.png) no-repeat 0rem 0.02rem;
background-size:100% ; width: 0.4rem;height: 0.4rem;}
.footer_bottom a:nth-child(4).on i:before{content: "";background: url(../img/footer_04_.png) no-repeat 0rem 0.02rem;
background-size:100% ; width: 0.4rem;height: 0.4rem;}*/






